@page "/CreatePost"
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@inject NavigationManager navMgr
@inject IPostService postService


<div class="card">
    <h3>Create Post</h3>
    <div class="form-group field">
        <label>Title:</label>
        <input type="text" @bind="postTitle"/>
        <label>Body:</label>
        <input type="text" @bind="postDescription"/>
    </div>
    <div class="button-row">
        @if (!string.IsNullOrEmpty(msg))
        {
            <label style="color: red">@msg</label>
        }
        <button @onclick="Create" class="acceptbtn">Create</button>
    </div>
</div>

@code {
    private string postTitle = "";
    private string postDescription = "";

    private string msg = "";
    
    private async Task Create()
    {
        msg = "";
        if (string.IsNullOrEmpty(postTitle))
        {
            msg = "Title cannot be empty!";
            return;
        }

        if (string.IsNullOrEmpty(postDescription))
        {
            msg = "Body cannot be empty!";
            return;
        }
        try
        {
            PostCreationDto dto = new(postTitle, postDescription);
            await postService.CreateAsync(dto);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}