@page "/posts/all"
@using UIComponents
@using Domain.Models
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using System.Collections
@inject IPostService postService
@inject ITagService tagService

<div class="createPostCard">
    <div class="filters-container">
        <div class="filter">
            <label>Search by tag:</label>
            <input name="name" type="text" class="feedback-input" placeholder="Type here..." @bind="tagFilter"/>
        </div>
    </div>
    <div class="field">
        <button @onclick="() => OnInitializedAsync()" class="button-35" role="button">Cancel</button>
        <button @onclick="LoadPosts" class="button-35" role="button">Search</button>
    </div>
</div>

@if (posts == null)
{
    <p>Loading..</p>
}
else if (!posts.Any())
{
    <p>No posts to display</p>
}
else
{
    
    @foreach (var post in posts)
    {
        <a href="posts/@post.Id">
            Go to post
        </a>
        <SinglePost Post="post"/>

    }
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IList<Post>? posts = new List<Post>();
    private string msg;
    private bool isLiked;

    
    private string? tagFilter;
    private IEnumerable<TagPost>? postTag;
    
    [Parameter]
    public int Id { get; set; }

    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            tagFilter = "";
            //posts = await postService.GetInRadiusAsync(new Coordinate(55.8581310000, 9.8475880000), 30000);
            IEnumerable<Post> temp = await postService.GetAsync();
            posts = temp.ToList();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    private async Task LoadPosts()
    {
        try
        {
            if (tagFilter.Equals(""))
            {
                OnInitializedAsync();
            }
            else
            {
                posts.Clear();
                postTag = await tagService.GetPostTagAsync(0, tagFilter.ToLower());
                foreach (var tagPost in postTag)
                {
                    ICollection<Post> temp = await postService.GetAsync(tagPost.postId, null, null);
                    posts.Add(temp.FirstOrDefault());
                }
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
}