@page "/reports"
@using Domain.Models
@using HttpClients.ClientInterfaces
@using UIComponents
@using Report = Domain.Models.Report
@using System.Runtime.CompilerServices
@inject IReportService reportService

<label style="color: red">@msg</label>

@if (reports.Any())
{
    <ul>
        @foreach (var report in reports)
        {
            <li>
                <SingleReport Report="report" UpdateReports="LoadReports"/>
            </li>
        }
    </ul>
}

@code {
    IEnumerable<Report> reports = new List<Report>();
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
           await LoadReports();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task LoadReports()
    {
        reports = await reportService.GetAsync();
    }

}