HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/BlazorWASM-AppLogic/BlazorWASM/bin/
/BlazorWASM-AppLogic/BlazorWASM/obj/
/BlazorWASM-AppLogic/WebAPI/bin/
/BlazorWASM-AppLogic/WebAPI/obj/
/BlazorWASM-AppLogic/HttpClients/bin/
/BlazorWASM-AppLogic/HttpClients/obj/
/BlazorWASM-AppLogic/Domain/bin/
/BlazorWASM-AppLogic/Domain/obj/
/BlazorWASM-AppLogic/Application/bin/
/BlazorWASM-AppLogic/Application/obj/
/BlazorWASM-AppLogic/.idea/
/BlazorWASM-AppLogic/ImageHosting/bin/
/BlazorWASM-AppLogic/ImageHosting/obj/
/BlazorWASM-AppLogic/Shared/bin/
/BlazorWASM-AppLogic/Shared/obj/
/BlazorWASM-AppLogic/Application/obj/
/BlazorWASM-AppLogic/ImageHosting/obj/
/.idea/
