@namespace UIComponents

<div class="sidebar ">
  
    <div class="border-b border-gray-20 flex justify-between items-center p-3 pl-5 relative uk-hidden@s">
        <h3 class="text-xl"> Navigation </h3>
        <span class="btn-mobile" uk-toggle="target: #wrapper ; cls: sidebar-active"></span>
    </div>
    <div class="sidebar_inner" data-simplebar>
        <div class="flex flex-col items-center my-6 uk-visible@s">
            <div
                class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full transition m-0.5 mr-2  w-24 h-24">
                <img src="assets/images/avatars/avatar-2.jpg"
                     class="bg-gray-200 border-4 border-white rounded-full w-full h-full">
            </div>
            <AuthorizeView>

                <Authorized>

                <a href="profile.html" @onclick:preventDefault="true"  class="text-xl font-medium capitalize mt-4 uk-link-reset"> 
                    @context.User.Identity.Name
                </a>
                </Authorized>
            </AuthorizeView>


        </div>
        <hr class="-mx-4 -mt-1 uk-visible@s">
        <ul>
            
           
	        <li>
		       
				        <a href="/admin/Login">
					        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
					             stroke="currentColor">
						        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
					        </svg>
					        <span> Login </span>
					    </a>

			     

	        </li>
        </ul>
    </div>
</div>

@code {

}


