@using System.Security.Claims
@using BlazorWasm.Services
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@namespace UIComponents
@inject IReportService reportService
@inject NavigationManager navMgr

<Alert Type="success" Show="@showAlert">
	<p>Thank you for contributing to build community who cares!</p>
	@* <button @onclick="() => @navMgr.NavigateTo("/posts/all")">go to feed</button> *@
	<button @onclick="(() => showAlert = false)">great</button>
</Alert>

<button @onclick="@(() => showReportField = true)">" >Report post</button>


@if (showReportField)
{
	<input type="text" @bind="reportInputText" >
	<button
		@onclick="ReportPostAsync">
		report
	</button>

	<label>@msg</label>

}

@code {

	[Parameter]
	public long PostId { get; set; }

	[Parameter]
	public long UserId { get; set; }

	public bool showReportField;
	private string reportInputText;
	private string msg;
	private bool showAlert;


	protected override async Task OnInitializedAsync()
	{

	}

	private async Task ReportPostAsync()
	{

		try
		{

			if (UserId != 0)
			{
				ReportPostDto dto = new ReportPostDto(reportInputText, (int)PostId, (int)UserId);

				await reportService.ReportPostAsync(dto);


				showAlert = true;
				reportInputText = "";
			}
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
			msg = e.Message;
		}
	}

}
