@using BlazorWasm.Services
@namespace UIComponents
@inject IAuthService authService
@inject NavigationManager navMgr



<div class="sidebar ">
  
    <div class="border-b border-gray-20 flex justify-between items-center p-3 pl-5 relative uk-hidden@s">
        <h3 class="text-xl"> Navigation </h3>
        <span class="btn-mobile" uk-toggle="target: #wrapper ; cls: sidebar-active"></span>
    </div>
    <div class="sidebar_inner" data-simplebar>
        <div class="flex flex-col items-center my-6 uk-visible@s">
            <div
                class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full transition m-0.5 mr-2  w-24 h-24">
                <img src="assets/images/avatars/avatar-2.jpg"
                     class="bg-gray-200 border-4 border-white rounded-full w-full h-full">
            </div>
            <AuthorizeView>

                <Authorized>

                <a href="profile.html" @onclick:preventDefault="true"  class="text-xl font-medium capitalize mt-4 uk-link-reset"> 
                    @context.User.Identity.Name
                </a>
                </Authorized>
            </AuthorizeView>


        </div>
        <hr class="-mx-4 -mt-1 uk-visible@s">
        <ul>
            <li class="side_nav" >
                <a href="/posts/all">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"/>
                    </svg>
                    <span> Feed </span> </a>
            </li>
            

            <li>
                <hr class="my-2">
            </li>
	        <li>
		       
				        <a href="#" @onclick:preventDefault="true"  @onclick="LogoutAsync">
					        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
					             stroke="currentColor">
						        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
					        </svg>
					        <span> Login </span>
					    </a>

			      

	        </li>
        </ul>
    </div>
</div>

@code {
    private string errorLabel;

    private async Task LogoutAsync()
    {
    //Console.WriteLine("HERE");

        errorLabel = "";
        try
        {
            await authService.LogoutAsync();
            navMgr.NavigateTo("/Login");

    //Console.WriteLine("HERE");

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }

}
