@if (Show)
{
    <div class="alert alert-@Type  w-50 m-auto fixed translate-middle text-center " style="display:block;">

            @ChildContent

    </div>
}

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public bool Show { get; set; }
    [Parameter]
    public string Type { get; set; }
}
