<header>
    <nav>
        <ol>
            <li>
                <NavLink href="/">
                    Home
                </NavLink>
            </li>
            <li>
                <NavLink href="/ViewPosts">
                    Feed
                </NavLink>
            </li>
            <li>
                <NavLink href="/CreatePost">
                    Create Post
                </NavLink>
            </li>
        </ol>
    </nav>
</header>

@code {

}